export("phm")
export("reitsma")
export("ROCellipse")
export("crosshair")
export("sroc")
export("AUC")
export("mcsroc")
export("madad")
export("print.madad")
export("CIrho")
export("madauni")
export("print.madauni")
export("summary.madauni")
export("print.summary.madauni")
export("vcov.madauni")
export("cochran.Q")
export("sens")
export("fpr")
export("spec")
export("forest")
export("talpha")

S3method(print, reitsma)
S3method(AUC, reitsma)
S3method(AUC, default)
S3method(summary, reitsma)
S3method(print, summary.reitsma)
S3method(vcov, reitsma)
S3method(confint, reitsma)
S3method(logLik, reitsma)
S3method(sroc, reitsma)
S3method(mcsroc, reitsma)
S3method(plot, reitsma)
S3method(crosshair, reitsma)
S3method(crosshair, default)
S3method(ROCellipse, reitsma)
S3method(ROCellipse, default)
S3method(reitsma, default)

S3method(forest, default)
S3method(forest, madad)
S3method(forest, madauni)

S3method(print, phm)
S3method(summary, phm)
S3method(print, summary.phm)
S3method(vcov, phm)
S3method(logLik, phm)
S3method(sroc, phm)
S3method(plot, phm)
S3method(phm, default)
S3method(AUC, phm)

